.root {
  //font-family: 'Bebas Neue', cursive;
  font-family: Arial, Helvetica, sans-serif;
  color: #0c0d0e;
  min-height: 100vh;
  height: 1px;
}

html, body {
  height: 100%;
  margin: 0;
}

.navbar {
  width: 100%;
  background: #FAFAFB;
  position: fixed;
  z-index: 100;
  display: block;
  top: 0;
  height: 3rem;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 1px 4px 0px, rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;

  div {
      flex: 1;
  }
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: 'Bebas Neue', cursive;
  div {

  }
  span {
      color: #BCBBBB;
      &:nth-child(2) {
          color: #F48024;
      }
  }
}

.content-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 5px;
  box-sizing: border-box;
}

.content {
  max-width: 70rem;
  width: 100%;
  height: 150%;
  display: flex;
}

.side-panel-wrapper {
  width: 160px;
  min-width: 160px;
  height: 100%;
  border-right: 1px solid #ccc;
}

.side-panel {
  position: fixed;
  top: 3rem;
  font-size: 0.8rem;
  height: 100%;

  a:first-child {
      margin: 20px 0px;
      padding: 0px 5px;
      color: #535a60;
  }
  
  a {
      display: block;
      text-decoration: none;
      color: #535a60;
      &:hover {
          color: #0c0d0e;
      }
  }

  div {
      margin-bottom: 10px;
      span {
          font-size: 0.7rem;
          display: block;
          color: #8C939A;
          text-transform: uppercase;
          padding: 0px 6px 8px 6px;
      }

      a {
          padding: 8px 30px;
      }

      .active {
          background: #EFF0F1;
          border-right: 3px solid #F48024;
          font-weight: bold;
          color:  #0c0d0e;
      }
  }
}

.main-panel {
  flex-grow: 1;
  padding: 5rem 30px 0px 30px;
  color: rgb(60,65,70);
}

.main-title {
  font-size: 1.5rem;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(221, 221, 221);
  span {
      font-size: 0.8rem;
      margin-right: 15px;
      &:nth-child(2)::before {
          content: "Asked ";
          color: #8C939A;
      }
      &:nth-child(3)::before {
          content: "Active  ";
          color: #8C939A;
      }
      &:nth-child(4)::before {
          content: "Viewed  ";
          color: #8C939A;
      }
  }
}

.main-question {
  font-size: 0.9rem;
  color: #242729;
}

pre {
  padding: 15px 10px;
  width: 100%;
  background: #EFF0F1;
  font-family: 'Source Sans Pro', sans-serif;
}

code {
  font-size: 0.8rem;

  .blue {
    color: #0054A3;
  }
  .red {
    color: #942121;
  }
  .green {
    color: #2B91AF;
  }
}